/* for smaller mobile devices */

*{
  margin: 0;
  padding: 0;
}

.header{
  width: 100%;
  background-color:#1a1819;
  color: white;
  margin: 0;
  padding: 0;
  height: 66px;
  font-family: 'Open Sans', sans-serif;
}

.contact {
  margin: 0;  
}

.head-items{
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  left: 15px;
  top: 5px;
}

#contactHead {
  margin-bottom: 0;
}

#contactHead li{
  list-style: none;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0px;
}

#contactHead img {
  padding-left: 5px;
  padding-right: 5px;
}

.text{
  position: relative;
  top: 2px;
}

#socialNav li{
  display: inline;
  float: right;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 30px;
}

.navbar {
  margin: 0;
  padding: 0;
  height: 90px;
}

.navbar-brand { 
  margin: 0 auto;
  position: relative;
  left: 27px;
  top: 2px;
}

.navbar-toggler-icon { 
  height: 1.7em;
  position: relative;
  top: 3px;
  right: 4px;
  font-size: 22px;    
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(64,185,186)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navbarNav {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 90px;
  left: 0px;
  padding: 0;
  margin: 0;
}

.nav-item {  
  background-color: #40b9ba;
  text-align: center;  
}

.nav-link {
  height: 60px;
  padding-top: 17px;
  font-size: 15px;  
  color: white;
  font-family: sans-serif;
}

/*.active a,*/ .nav-link:hover{
  height: 60px;
  color: black;
  background-color:#dcdedd;    
}

button:focus{
  
  outline: none;
}



.banner {
  margin: 0;
  padding: 0;
  background-image: url(./assets/banner.jpg);
  background-size: cover;
  height: 196px;
  background-position: center center;   
}

.banner ul{
  list-style: none;
  position: relative;
  top: 80px;
  left: 10%;
  color: white;
}

.banner ul :first-child {
  font-size: 15px;
  font-weight: bolder;
  padding: 3px 25px 0px 4px;
  background-color: #40b9ba;
  width: max-content;
}

.banner ul :last-child{
  width: 220px;
  font-size: 14px;
  padding: 5px;
  background-color: rgba(26, 24, 25, .8);
}
.img-col {
  padding: 0 25px;
}
.txt-col{  
  margin-top: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.txt-col-h1{
  font-size: 17vw;  
  line-height: 17vw;
  color:black;
}

.txt-col-p{
  margin-top: 21px;
  line-height: 27px;
}

.cont-row {
  padding-top: 40px;
}


.img-pane{
  width: 100%;
  height: auto;
   
}


#textPane{
  text-align: center;
  margin: 40px 10px 20px 10px;
  font-family: 'Open Sans', sans-serif;
}


footer {
  font-family: 'Open Sans', sans-serif;
  background-color:  black;
  color:  white;
  text-align: center;
  line-height: 371%;
  width: 100%;
  font-size: 11px;
  height: 43px;
  font-weight: bold;
}

footer span {
  color: #40b9ba;
}

/* for large mobile devices or in landscape mode */

@media (min-width: 576px){

  .cont-row {
    padding-top:  40px 0px;
  }
  
  .txt-col{  
    margin-top: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    height: auto;
  }

  #txtCol {
    margin: 0;
  }
  
  .txt-col-h1{
    font-size: 9vw;    
    line-height: 9vw;
    color:black;
  }
  
  .txt-col-p{
    margin-top: 21px;
    line-height: 27px;
  }

  .img-pane{
    width: 100%;
    height: auto;     
  }

}  


/* for tablet */

@media (min-width: 768px) {

  .header{
    height:auto;
  }
  #contactHead {
    padding-top: 2px;
  } 
  
  #contactHead li{
    display: inline;
    padding: 0;
    font-size: 10px;
    position: relative;
    bottom: 8px;    
  }

  #socialNav li{
    margin-top: 0;
    margin-bottom: 5px;
  }

  .navbar-brand{
    margin: 0;
  }



  #navbarNav {
    float: right;
    position: relative ;
    top: 0;
  }

  .nav-item {  
    margin-left:3vw;
    margin-right: 3vw;
    background-color: white;
    text-align: center;  
  }
  
  .nav-link {
    margin-left:0;
    margin-right:0;
    height: 50px;
    padding-top: 17px;
    font-size: 15px;  
    color: black;
    font-family: sans-serif;
  }

  .nav-link:hover {
    background-color: white;
    height: 50px;
  }


  .banner ul{
    position: relative;
    top: 80px;
    left: 80px;
    
  }

  .cont-row {
    padding:  40px 25px;
  }
  
  .txt-col {
    padding: 0 32px;
  }

  .txt-col-h1{
    padding-left: 15px;
    font-size: 55px;
    line-height: 60px;
  }

  .txt-col-p {
    padding-left: 15px;
  }

  #textPane {
    font-size: .9rem;
    margin: 50px 40px;
  }
  
}

/* for laptop and large displays */

@media (min-width: 992px) {

  #contactHead li{    
    font-size: 12px;
  }
  
  .banner{
    height: 245px;
  }

  .banner ul {
    position: relative;
    top: 95px;
    left: 110px;
    }

  .banner ul :first-child {
    font-size: 18px;
    font-weight: bolder;
    padding: 3px 30px 2px 4px;
    background-color: #40b9ba;
    width: max-content;
  }

  .banner ul :last-child {
    width: 257px;
    font-size: 16px;
    padding: 5px;
    line-height: 28px;
    background-color: rgba(26, 24, 25, .7);
  }

  .nav-link {
    font-size: 17px;
    font-weight: 600;
  }

  

  .txt-col-h1{    
    font-size: 8vw;
    line-height: 9vw;
  }

  .txt-col-p {
    font-size: 17px;
    line-height: 28px;
  }


}